# Is it true that in the test we have to predict the last clickouts of the users?

In [2]:
import os
os.chdir('./..')

In [3]:
import data
import pandas as pd

In [10]:
import numpy as np

In [4]:
df = data.test_df('full')

/home/giovanni/miniconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [6]:
df_clknull = df[(df['action_type'] == 'clickout item') & (df['reference'].isnull())]

In [12]:
def existsIndex(df, idx):
    try:
        df.loc[idx]
        return True
    except KeyError:
        return False

In [16]:
sess_ids = []
for idx, row in df_clknull.iterrows():
    sess = row['session_id']
    i = 1
    while True:
        if existsIndex(df, idx+i):
            next_row = df.loc[idx+i]
            if next_row['session_id'] == sess:
                if next_row['action_type'] == 'clickout item':
                    sess_ids.append(sess)
            else:
                break
            i += 1
        else:
            break

In [17]:
sess_ids

['cbe3752713eee']

In [20]:
df[df['session_id'].isin(sess_ids)]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
16727756,HDFSLRD2P5IC,cbe3752713eee,1541623639,1,clickout item,1258844,IT,"Naples, Italy",mobile,NaN,1258844|4719620|896773|21097|1240467|45930|153...,107|69|99|98|109|108|122|75|222|70|129|95|131|...
16727757,HDFSLRD2P5IC,cbe3752713eee,1541623682,2,clickout item,21126,IT,"Naples, Italy",mobile,NaN,1258844|4719620|1240467|21097|153190|45930|211...,183|99|130|511|141|124|240|166|179|94|191|83|6...
16727758,HDFSLRD2P5IC,cbe3752713eee,1541623722,3,interaction item info,45807,IT,"Naples, Italy",mobile,NaN,NaN,NaN
16727759,HDFSLRD2P5IC,cbe3752713eee,1541623725,4,clickout item,45807,IT,"Naples, Italy",mobile,NaN,1258844|4719620|1240467|21097|153190|45930|211...,183|99|130|511|141|124|240|166|179|94|191|83|6...
16727760,HDFSLRD2P5IC,cbe3752713eee,1541624037,5,clickout item,NaN,IT,"Pozzuoli, Italy",mobile,NaN,45927|1258844|21154|4719620|873351|21061|21072...,93|183|240|99|62|166|179|161|94|191|83|65|94|5...
16727761,HDFSLRD2P5IC,cbe3752713eee,1541660263,1,search for poi,Piazza del Plebiscito,IT,"Naples, Italy",mobile,NaN,NaN,NaN
16727762,HDFSLRD2P5IC,cbe3752713eee,1541660358,2,clickout item,21061,IT,"Naples, Italy",mobile,NaN,21061|21072|21082|21100|45804|7163046|81348|73...,106|129|125|131|90|65|142|70|125|89|98|124|44|...